<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teachers</title>
</head>
<body>
    <h1>Teacher Form</h1>
    <form method="post">
        {% csrf_token %}
        <label for="first_name">First Name</label>
        <input type="text" name="first_name" id="first_name">
        <br><br>
        <label for="last_name">Last Name</label>
        <input type="text" name="last_name" id="last_name">
        <br><br>
        <label for="subject">Subject</label>
        <input type="text" name="subject" id="subject">
        <br><br>

        <input type="submit" value="Submit">
    </form>
    <br><br>
    <button><a href="{% url 'teachers:teacher_list' %}">Back to List</a></button>
</body>
</html>