<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
</head>
<body>
    <h1>Student Detail</h1>
    <button><a href="{% url 'students:student_list' %}">Back to List</a></button>
    <button><a href="{% url 'home' %}">Back Home</a></button>
    <h3>First Name: {{ student.first_name }}</h3>
    <h3>Last Name: {{ student.last_name }}</h3>
    <h3>Age: {{ student.age }}</h3>
    <h3>Email: {{ student.email }}</h3>
    <button><a href="{{ student.get_delete_url }}">Delete</a></button>
</body>
</html>