<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Groups</title>
</head>
<body>
    <h1>Group Form</h1>
    <form method="post">
        {% csrf_token %}
        <label for="group_name">Group Name</label>
        <input type="text" name="group_name" id="group_name">
        <br><br>
        <label for="group_type">Group Type</label>
        <input type="text" name="group_type" id="group_type">
        <br><br>

        <input type="submit" value="Submit">
    </form>
    <br><br>
    <button><a href="{% url 'groups:group_list' %}">Back to List</a></button>
</body>
</html>